.header {
  position: fixed;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  width: 100%;
  background: #f1f1f1;
  padding: 0rem;  
  text-align: center;
  z-index: 100;
}
body, html, #root {
  margin: 1;
  padding: 1;
}
.h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.h1 a {
  color: #1d2fba; /* your preferred blue */
  text-decoration: none; /* optional: remove underline */
}
.h1 a:hover{
  color:#1d2fba;
}
.h1 a:focus,
.h1 a:active {
  color: rgb(0, 51, 255);
}
.p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.main {
  padding-top: 100px;
  display: block; /* Remove flex or center styles */
}
.nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.1rem 2rem;
  font-size: 1.5rem;
  color: #1d2fba;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #14229b;
  color: white;
}
.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem; /* optional spacing */
}

.card{
  border: 1px solid rgb(23, 23, 23);
  background-color: #150a0a;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  max-height: fit-content;
  display: inline-block;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  margin: 5px;
}
.icon-arrow {
  vertical-align: text-center;
  color: rgb(0, 51, 255);
  transform: translateY(2px);
}
.search-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  margin: 2rem auto;        
  gap: 1rem;                
}

.search-input {
  width: 500px;             
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #1d2fba;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #14229b;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f1f1f1;
  padding: 1rem;
  text-align: center;
  z-index: 100;
}